* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url("imagee.jpg");
    background-size: cover;
 
}
.main_body {
    position: relative;
}

.container {
  position: fixed;
    width: 70%; /* Ajuster la largeur du LoginScreen */
    height: 80%; /*Ajuster l'hauteur*/
    background-color: #fff; /* Mettre le fond en blanc */

  display: flex;
/*position dans la page*/
    top: 45%;
    left: 50%;
    buttom: 25px;
    transform: translate(-50%, -40%); 
    align-items: center; /*tout les elements au centre */
    justify-content: center;

border-radius: 10px;/* les coins arrondis */
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); /* box shadow */
}

.leftbox {
  /* les dimensions du box */
    width: 60%;
    height: 80vh;
/* background conf */
    background-image: url("Login.jpg");
    background-repeat: no-repeat;
    background-size:  115% 100vh ;
    background-clip: padding-box;
    border-radius: 10px;
    background-position: center ;
/* organisation des elements */
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
 
  /* les dimensions du box */
    width: 40%;
    height: 80vh;

/* organisation des elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* les coins arrondis */
border-radius: 0 10px 10px 0; /*  border-top-left-radius: 0px border-top-right-radius: 10px border-bottom-right-radius: 10px
 border-bottom-left-radius 0px */
}


.signup-form h1 {
    margin-bottom: 15px;
    color: rgb(149, 66, 231);
    text-align: left;
    
}

.inputBox {
  position: relative;
}

.inputBox select,
.inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  outline: none;
}

.inputBox select {
  appearance: none;
}

.inputBox label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}

.inputBox input:focus ~ label,
.inputBox select:focus ~ label,
.inputBox input:valid ~ label,
.inputBox select:valid ~ label {
  top: -18px;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  color: #666;
}

.button {
  background: rgb(167, 232, 250);

  outline: none;
  color: rgb(45, 68, 100);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid rgb(66, 83, 231);
  box-shadow: 0 2px 4px 5px rgba(0, 0, 0.3, 0);
  margin-top: 0;
  align-self: center;
  right: 25%;
}

.button:hover {
  background: rgb(167, 232, 250);
  cursor: pointer;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -20px;
    left: 0;
    color: rgb(56,56,56);
    font-size: 12px;
}

/*La deuxième animation est l'ombre qui s'étend lorsque vous survolez le formulaire*/
form {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow ease-in 0.2s;
}

form:hover {
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
